:root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.navbar, .course__buttons {
  display: flex;
  width: 100%;
}

.navbar {
  padding: 12px;
  margin: 12px 0;
  background-color: lightblue;
}

.navbar__element, .MainButton, .subscribeButton, .unsubscribeButton {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: white;
  border: 1px solid;
  cursor: pointer;
  margin-right: 6px;
  text-decoration: none;
  font-weight: 400;
}

.subscribeButton {
  color: green;
}

.unsubscribeButton {
  color: red;
}

.MainInput {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
}

.div__space {
  flex: 1;
}

.div_account_courses {
  margin-left: 18px;
}
